@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .nav-link {
    @apply text-lg font-bold text-gray-900 relative hover:text-blue-700 transition-colors duration-150;

    &:hover:after {
      content: "";
      display: block;
      position: absolute;
      bottom: -3px;
      width: 100%;
      height: 3px;
      background-color: blue;
      margin-top: 2px;
      transition: all 0.3s;
    }
  }

  .active-nav-link {
    @apply text-lg font-bold text-blue-700 relative;

    &:after {
      content: "";
      display: block;
      position: absolute;
      bottom: -3px;
      width: 100%;
      height: 3px;
      background-color: #2563eb;
      margin-top: 2px;
    }
  }

  .side-menu-link {
    @apply block text-lg font-bold text-gray-900 relative hover:text-blue-700 transition-colors duration-150 pl-3;
  }
  .active-side-menu-link {
    @apply text-blue-700;

    &:after {
      content: "";
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 5px;
      height: 25px;
      background-color: #2563eb;
      margin-top: 2px;
    }
  }

  .skip-button {
    @apply sr-only;

    &:focus {
      @apply not-sr-only absolute top-5 left-10 px-4 py-2 rounded-lg bg-blue-600 text-white shadow-lg outline-none ring-2 ring-blue-400;
    }
  }
  code {
    @apply bg-slate-100 px-2 py-1 rounded-md;
  }
}
